

#box30 {
    position: absolute;
    left    :    0px;
    top     :   48px;
    width   :   16px;
    height  :   16px;
    background-color: Blue;
}
            
#box6 {
    position: absolute;
    left    :  288px;
    top     :   80px;
    width   :   16px;
    height  :   16px;
    background-color: Blue;
}
            
#box56 {
    position: absolute;
    left    :   48px;
    top     :   32px;
    width   :   16px;
    height  :   16px;
    background-color: Blue;
}
            
#box50 {
    position: absolute;
    left    :  112px;
    top     :   32px;
    width   :   16px;
    height  :   16px;
    background-color: Blue;
}
            
#box40 {
    position: absolute;
    left    :  224px;
    top     :   32px;
    width   :   16px;
    height  :   16px;
    background-color: Blue;
}
            
#box33 {
    position: absolute;
    left    :   16px;
    top     :   80px;
    width   :   16px;
    height  :   16px;
    background-color: Blue;
}
            
#box27 {
    position: absolute;
    left    :    0px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: Blue;
}
            
#box22 {
    position: absolute;
    left    :  112px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: Blue;
}
            
#box17 {
    position: absolute;
    left    :  224px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: Blue;
}
            
#box15 {
    position: absolute;
    left    :  256px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: Blue;
}
            
#box8 {
    position: absolute;
    left    :  304px;
    top     :   64px;
    width   :   16px;
    height  :   16px;
    background-color: Blue;
}
            
#box4 {
    position: absolute;
    left    :  256px;
    top     :   80px;
    width   :   16px;
    height  :   16px;
    background-color: Blue;
}
            
#box3 {
    position: absolute;
    left    :  240px;
    top     :   80px;
    width   :   16px;
    height  :   16px;
    background-color: Blue;
}
            
#box60 {
    position: absolute;
    left    :   64px;
    top     :   48px;
    width   :   16px;
    height  :   16px;
    background-color: Blue;
}
            
#box5 {
    position: absolute;
    left    :  272px;
    top     :   80px;
    width   :   16px;
    height  :   16px;
    background-color: Green;
}
            
#box10 {
    position: absolute;
    left    :  304px;
    top     :   32px;
    width   :   16px;
    height  :   16px;
    background-color: Green;
}
            
#box14 {
    position: absolute;
    left    :  272px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: Green;
}
            
#box9 {
    position: absolute;
    left    :  304px;
    top     :   48px;
    width   :   16px;
    height  :   16px;
    background-color: Green;
}
            
#box29 {
    position: absolute;
    left    :    0px;
    top     :   32px;
    width   :   16px;
    height  :   16px;
    background-color: Green;
}
            
#box36 {
    position: absolute;
    left    :   64px;
    top     :   80px;
    width   :   16px;
    height  :   16px;
    background-color: Green;
}
            
#box42 {
    position: absolute;
    left    :  208px;
    top     :   48px;
    width   :   16px;
    height  :   16px;
    background-color: Green;
}
            
#box44 {
    position: absolute;
    left    :  240px;
    top     :   48px;
    width   :   16px;
    height  :   16px;
    background-color: Green;
}
            
#box53 {
    position: absolute;
    left    :  144px;
    top     :   48px;
    width   :   16px;
    height  :   16px;
    background-color: Green;
}
            
#box57 {
    position: absolute;
    left    :   32px;
    top     :   32px;
    width   :   16px;
    height  :   16px;
    background-color: Green;
}
            
#box16 {
    position: absolute;
    left    :  240px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: Yellow;
}
            
#box20 {
    position: absolute;
    left    :  144px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: Yellow;
}
            
#box26 {
    position: absolute;
    left    :   16px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: Yellow;
}
            
#box31 {
    position: absolute;
    left    :    0px;
    top     :   64px;
    width   :   16px;
    height  :   16px;
    background-color: Yellow;
}
            
#box43 {
    position: absolute;
    left    :  224px;
    top     :   48px;
    width   :   16px;
    height  :   16px;
    background-color: Yellow;
}
            
#box51 {
    position: absolute;
    left    :  112px;
    top     :   48px;
    width   :   16px;
    height  :   16px;
    background-color: Yellow;
}
            
#box58 {
    position: absolute;
    left    :   32px;
    top     :   48px;
    width   :   16px;
    height  :   16px;
    background-color: Yellow;
}
            
#box18 {
    position: absolute;
    left    :  208px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: Yellow;
}
            
#box1 {
    position: absolute;
    left    :  208px;
    top     :   80px;
    width   :   16px;
    height  :   16px;
    background-color: Red;
}
            
#box7 {
    position: absolute;
    left    :  304px;
    top     :   80px;
    width   :   16px;
    height  :   16px;
    background-color: Red;
}
            
#box2 {
    position: absolute;
    left    :  224px;
    top     :   80px;
    width   :   16px;
    height  :   16px;
    background-color: Red;
}
            
#box52 {
    position: absolute;
    left    :  128px;
    top     :   48px;
    width   :   16px;
    height  :   16px;
    background-color: Red;
}
            
#box41 {
    position: absolute;
    left    :  208px;
    top     :   32px;
    width   :   16px;
    height  :   16px;
    background-color: Red;
}
            
#box37 {
    position: absolute;
    left    :  272px;
    top     :   32px;
    width   :   16px;
    height  :   16px;
    background-color: Red;
}
            
#box21 {
    position: absolute;
    left    :  128px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: Red;
}
            
#box12 {
    position: absolute;
    left    :  304px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: Red;
}
            
#box59 {
    position: absolute;
    left    :   48px;
    top     :   48px;
    width   :   16px;
    height  :   16px;
    background-color: White;
}
            
#box48 {
    position: absolute;
    left    :  144px;
    top     :   32px;
    width   :   16px;
    height  :   16px;
    background-color: White;
}
            
#box39 {
    position: absolute;
    left    :  240px;
    top     :   32px;
    width   :   16px;
    height  :   16px;
    background-color: White;
}
            
#box25 {
    position: absolute;
    left    :   32px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: White;
}
            
#box54 {
    position: absolute;
    left    :  160px;
    top     :   48px;
    width   :   16px;
    height  :   16px;
    background-color: Orange;
}
            
#box46 {
    position: absolute;
    left    :  272px;
    top     :   48px;
    width   :   16px;
    height  :   16px;
    background-color: Black;
}
            
#box24 {
    position: absolute;
    left    :   48px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: Black;
}
            
#box23 {
    position: absolute;
    left    :   64px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: Black;
}
            
#box32 {
    position: absolute;
    left    :    0px;
    top     :   80px;
    width   :   16px;
    height  :   16px;
    background-color: Orange;
}
            
#box38 {
    position: absolute;
    left    :  256px;
    top     :   32px;
    width   :   16px;
    height  :   16px;
    background-color: Orange;
}
            
#box35 {
    position: absolute;
    left    :   48px;
    top     :   80px;
    width   :   16px;
    height  :   16px;
    background-color: Gray;
}
            
#box49 {
    position: absolute;
    left    :  128px;
    top     :   32px;
    width   :   16px;
    height  :   16px;
    background-color: Gray;
}
            
#box13 {
    position: absolute;
    left    :  288px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: Violet;
}
            
#box34 {
    position: absolute;
    left    :   32px;
    top     :   80px;
    width   :   16px;
    height  :   16px;
    background-color: Pink;
}
            
#box28 {
    position: absolute;
    left    :    0px;
    top     :   16px;
    width   :   16px;
    height  :   16px;
    background-color: Pink;
}
            
#box55 {
    position: absolute;
    left    :   64px;
    top     :   32px;
    width   :   16px;
    height  :   16px;
    background-color: Violet;
}
            
#box19 {
    position: absolute;
    left    :  160px;
    top     :    0px;
    width   :   16px;
    height  :   16px;
    background-color: SkyBlue;
}
            
#box11 {
    position: absolute;
    left    :  304px;
    top     :   16px;
    width   :   16px;
    height  :   16px;
    background-color: Purple;
}
            
#box45 {
    position: absolute;
    left    :  256px;
    top     :   48px;
    width   :   16px;
    height  :   16px;
    background-color: YellowGreen;
}
            
#box47 {
    position: absolute;
    left    :  160px;
    top     :   32px;
    width   :   16px;
    height  :   16px;
    background-color: Brown;
}
            
            