

#box30 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Blue;
}
            
#box6 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Blue;
}
            
#box56 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Blue;
}
            
#box50 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Blue;
}
            
#box40 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Blue;
}
            
#box33 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Blue;
}
            
#box27 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Blue;
}
            
#box22 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Blue;
}
            
#box17 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Blue;
}
            
#box15 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Blue;
}
            
#box8 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Blue;
}
            
#box4 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Blue;
}
            
#box3 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Blue;
}
            
#box60 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Blue;
}
            
#box5 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Green;
}
            
#box10 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Green;
}
            
#box14 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Green;
}
            
#box9 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Green;
}
            
#box29 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Green;
}
            
#box36 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Green;
}
            
#box42 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Green;
}
            
#box44 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Green;
}
            
#box53 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Green;
}
            
#box57 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Green;
}
            
#box16 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Yellow;
}
            
#box20 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Yellow;
}
            
#box26 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Yellow;
}
            
#box31 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Yellow;
}
            
#box43 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Yellow;
}
            
#box51 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Yellow;
}
            
#box58 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Yellow;
}
            
#box18 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Yellow;
}
            
#box1 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Red;
}
            
#box7 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Red;
}
            
#box2 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Red;
}
            
#box52 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Red;
}
            
#box41 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Red;
}
            
#box37 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Red;
}
            
#box21 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Red;
}
            
#box12 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Red;
}
            
#box59 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: White;
}
            
#box48 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: White;
}
            
#box39 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: White;
}
            
#box25 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: White;
}
            
#box54 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Orange;
}
            
#box46 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Black;
}
            
#box24 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Black;
}
            
#box23 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Black;
}
            
#box32 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Orange;
}
            
#box38 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Orange;
}
            
#box35 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Gray;
}
            
#box49 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Gray;
}
            
#box13 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Violet;
}
            
#box34 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Pink;
}
            
#box28 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Pink;
}
            
#box55 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Violet;
}
            
#box19 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: SkyBlue;
}
            
#box11 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Purple;
}
            
#box45 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: YellowGreen;
}
            
#box47 {
    position: relative;
    width   : 16px;
    height  : 16px;
    background-color: Brown;
}
            
            